{% extends "maestra.html" %}
{% block titulo %}
Agregar disco
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column is-one-third">
            <h3 class="is-size-3">Agregar disco</h3>
            <form action="{{url_for('guardar_disco')}}" method="post">
                <label for="codigo">Código:</label>
                <input required type="text" class="input" placeholder="Código" name="codigo" id="codigo">
                <label for="nombre">Nombre:</label>
                <input required type="text" class="input" placeholder="Nombre" name="nombre" id="nombre">
                <label for="artista">Artista</label>
                <input required type="text" class="input" placeholder="Artista" name="artista" id="artista">
                <label for="precio">Precio</label>
                <input required type="number" class="input" placeholder="Precio" name="precio" id="precio">
                <label for="artista">Género</label>
                <input required type="text" class="input" placeholder="Género" name="genero" id="genero">
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('discos')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}