{% extends "maestra.html" %}
{% block titulo %} Artistas {% endblock %}
{% block contenido %}

<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Artistas</h3>
            <a href="{{url_for('formulario_agregar_artista')}}" class="button is-success">Agregar</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Nacionalidad</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for artista in artistas %}
                    <tr>
                        <td>{{artista[1]}}</td>
                        <td>{{artista[2]}}</td>
                        <td>
                            {# Pasar el id (lo que hay en artista[0] #}
                            <a href="{{url_for('editar_artista', id=artista[0])}}" class="button is-info">Editar</a>
                        </td>
                        <td>
                            <form action="{{url_for('eliminar_artista')}}" method="POST">
                                <input type="hidden" name="id" value="{{artista[0]}}">
                                <button class="button is-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}