{% extends "maestra.html" %}
{% block titulo %}
Registro de usuario
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column is-one-third">
            <h3 class="is-size-3">Registro de usuario</h3>
            <form action="{{url_for('procesar_signup')}}" method="post">
                <label for="username">Nombre de usuario:</label>
                <input required type="text" class="input" placeholder="Nombre de usuario" name="username" id="username">
                <label for="password">Contraseña:</label>
                <input required type="password" class="input" placeholder="Contraseña" name="password" id="password">
                <label for="confpassword">Confirme contraseña:</label>
                <input required type="password" class="input" placeholder="Confirme contraseña" name="confpassword" id="confpassword">
                <button type="submit" class="button is-success mt-2">Registrar usuario</button>
                <a href="{{url_for('login')}}" class="button is-primary mt-2">Iniciar de sesión</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}